<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>GoogleAPI</key>
        <dict>
            <key>GMSAPIKey</key>
            <string>AIzaSyASTNQ8u5Cjsxd219QCTvRs-KJ9D3KTfvw</string>
        </dict>
    </dict>
</plist>
